<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let photo of photos">
            <td> 0 </td>
            <td>{{ photo.name }}</td>
            <td>{{ photo.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>