<div class="card profiles-container">
  <h2>All Photos</h2>
  <input id="photo-filter" [(ngModel)]="filter" placeholder="filter">
  <button (click)="getPhotos();">Filtrer</button>
  <ul class="photos">
    <li *ngFor="let photo of photos">
      <a routerLink="/photos/{{photo.id}}">
        <span class="photo">{{ photo.name }} <img class="images" src={{photo.url}}></span>
      </a>
    </li>
  </ul>
</div>

<div class="card creation-container">
  <h2>Photo Creation</h2>

  <div class="form-group">
    <label for="photo-name">Nom : </label>
    <input id="photo-name" [(ngModel)]="photo.name" placeholder="name">
  </div>

  <div class="form-group">
    <label for="photo-description">Description : </label>
    <input id="photo-description" [(ngModel)]="photo.description" placeholder="description">
  </div>

  <form [formGroup]="formData" (ngSubmit)="onSubmitMultiple();">
    <input type="file" id="files" name="firstfile" accept="image/*" (change)="handleFilesInput($event)" multiple>

    <div>
      <button type="submit">Importer</button>
    </div>
  </form>
</div>