<div class="card creation-container">

  <form [formGroup]="formData" (ngSubmit)="onSubmit()">
    <input type="file"
           id="file[0]"
           (change)="handleFileInput1($event)">
    <!--
    <input type="file"
           id="file[1]"
           (change)="handleFileInput2($event)">
    -->
    <div>
      <button type="submit">Upload Files</button>
    </div>
  </form>

  <!--
    ; createPhoto();
  <button class="btn btn-primary" (click)="createPhoto()">CREATE PHOTO</button>
  -->
</div>



   
          
