/* You can add global styles to this file, and also import other style files */
.title {
    text-align: center;
}

.form-group {
    width: 100%;
}

input, textarea {
    width: 100%;
}

.card {
    margin-bottom: auto;
}